h1{
	color: #7e7575 !important;
}

header{
	border-bottom: solid #cfcfcf ;
	margin-bottom: 
}

.container img{
	margin-top: -12px;
}

.movie{

}

#content{
	margin-top: 25px;
}

#content li{
	float: left;
	padding: 20px 20px 20px 0; 
	list-style: none;
}

#movie-picture{
	float: left;
	width: 280px;
}

#movie-picture img{
	max-width: 250px;
}

#movie-info{
	float: left;
	width: 60%;
	margin-top: -35px;
}