h1{
	color: #7e7575 !important;
}

header{
	border-bottom: solid #cfcfcf ;
}

.container img{
	margin-top: -12px;
}

.movie{

}

#movies-list li{
	float: left;
	padding: 20px 20px 20px 0; 
	list-style: none;
}